@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

//Color scheme
$theme-colors: (
    "primary" : #255C99,
    "secondary": #ABEF00,
    "gray": #B9C1BC,
    "light": #F5F8F4,
    "dark": #020216
);

html, body, header, #intro {
    height: 100%;
}
#intro {
    background-image:url("../img/cover3.jpg");
    background-color: theme-color-level("dark",-2);
    background-blend-mode: overlay;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    position: relative;
}

main{
    //Makes sticky footer
    min-height: calc(100vh - 13.125rem);
}

.padding-titles{
    padding-top: 5em;
}
.hr-light {
    height: 1px;
    width: 90%;
    color: gray;
    background-color: white;
    border: none;
    }
.hr-dark {
    height: 1px;
    color: gray;
    background-color: black;
    border: none;
}

.card-side{
    height: 15em;
    width: 15em;
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
    img{
        width: 225px;
        height: 225px;
        border: 7px solid #fff;
    }
    h4{
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }
    p {margin-top: 0;}
}

.button-social{
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    outline: 0;
    background-color: theme-color-level("primary",0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    i{color:theme-color("secondary");}
}

.button-social:hover{
    background-color: theme-color-level("primary",+2);
}

.footer-ul{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

%thumbnail-shared{
    display: block;
    border-radius: 100%;
    outline: 0;
    background-color: theme-color("primary");
    i{
        color: theme-color("secondary");
    }
}

.thumbnail-desc{
    @extend %thumbnail-shared;
    font-size: 30px;
    line-height: 80px;
    width: 80px;
    height: 80px;

}
.thumbnail-desc-sm{
    @extend %thumbnail-shared;
    font-size: 20px;
    line-height: 50px;
    width: 50px;
    height: 50px;
}

.card{
    border: none !important;
    background-color: transparent !important;
}

.gray-section{
    background-color: theme-color("dark") !important;
    color: theme-color("light");
}

@font-face {
    font-family: FunCityLevel2Stencil;
    src: url("../fonts/FunCityLevel2Stencil.otf") format("opentype");
}

.fun{
    font-family: FunCityLevel2Stencil;
}

.main-font{
    font-family: 'Comfortaa', cursive;
}

.scnd-font{
    font-family: 'Raleway', sans-serif;
}

.justify-text{
    text-align: justify;
}

//slick
.slick-carousel {
    margin: 0 auto;
    padding: 10px;
    width: 80%;
    color: #333;
}

.slick-slide {
    text-align: center;
}
.slick-prev, .slick-next{
    position: absolute !important;
}

.slick-dots li button:before {
    color: theme-color("secondary") !important;
}
.slick-dots{
    bottom: 3% !important;
}
.slick-prev:before, .slick-next:before {
    color:theme-color("secondary") !important;
}
@import "../../node_modules/bootstrap/scss/bootstrap";
